<!DOCTYPE html>
<html lang="en">
<head>
    <title>MRJibo Suggestion</title>
    <link rel="shortcut icon" type='image/png" href="@routes.Assets.versioned("images/favicon.png")'>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/lib/jquery-3.1.1.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/showSuggestion.js")'></script>
</head>
<body>
<h1>Suggestion</h1>
<div id="products" data-ws-url="@routes.ProductController.suggestionWs.webSocketURL(request)">
    here are listed the products.
</div>
</body>
</html>